@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mountains of Christmas', cursive;
    background-color: #f0e6f6;
    color: #333333;

}

main {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#status {
    color: #d2691e;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #d2691e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    perspective: 100px;
}



.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s;
}



.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-back {
    background-color: #ffffff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);

}

#restart {
    font-family: 'Mountains of Christmas', cursive;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #1e90ff;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    display: none;

}

#restart:hover {
    background-color: #1e90ff;
    color: white;
}


#sound-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Mountains of Christmas', cursive;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #1e90ff;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.4s;

}